<div class="conteneur">
    <div *ngFor="let matchup of matchup "class="Item" id="MatchupDiv" >
        <div class="MiniItem">
            <!-- <img src="../../../assets/image/champion/{{matchup?.champ_name}}Square.png" alt=""> -->
            <img [src]="'../../../assets/image/champion/' + matchup?.champ_name + 'Square.png'">
        </div>
        <div class="MiniItem">vs</div>
        <div class="MiniItem">
            <img [src]="'../../../assets/image/champion/' + matchup?.champ_adv + 'Square.png'">
        </div>
        <div [ngClass]="{'victory': matchup.victory, 'defeat': !matchup.victory}" class="MiniItem">{{matchup?.victory ? "Victoire" : "Défaite"}}</div>
        <div class="MiniItem" id="TipsDiv">
            <h3>tips</h3>
            <ul>
                <li *ngFor="let tip of matchup.tips">{{tip.name}}</li>
            </ul>
            </div>
    </div>
</div>
