.conteneur
{
    background-color: rgb(23, 110, 77);
    padding: 50px;
}
#MatchupDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: white;
    align-items: center;
    max-height: 100px;
}
#MatchupDiv img
{
    border-radius: 50%;
    max-height: 60px;
}
#TipsDiv
{
    max-height: 100px;
    background-color: lightgreen;
    border: 1px solid black;
}
#TipsDiv h3
{
    text-align: center;
}
#TipsDiv li
{
    display: inline;
    margin: 5px;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
}