<div>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
</div>

<jw-modal id="custom-modal-1">
    <h1 style="height:100px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>