<div class="conteneur">
    <form [formGroup]="form" id="Formulaire" (ngSubmit)="onSubmitAction()">
        <div class="BigItem">
            <div class="Titre">Lane </div>
            <div id="LanePick">
                <ul #lanepick>
                    <li>
                      <label for="myradio1" appCheckLane [parent]="lanepick" lane="Top" [FormControl]="form.get('lane')"><img  src="../../../assets/image/lane/Top_icon.png" alt=""></label>
                    </li>
                    <li>
                      <label for="myradio1" appCheckLane [parent]="lanepick" lane="Mid"  [FormControl]="form.get('lane')"><img  src="../../../assets/image/lane/Middle_icon.png" alt=""></label>
                    </li>
                    <li>
                      <label for="myradio1" appCheckLane [parent]="lanepick" lane="Jungle"  [FormControl]="form.get('lane')"><img  src="../../../assets/image/lane/Jungle_icon.png" alt=""></label>
                    </li>
                    <li>
                      <label for="myradio1" appCheckLane [parent]="lanepick" lane="Adc"  [FormControl]="form.get('lane')"><img  src="../../../assets/image/lane/Bottom_icon.png" alt=""></label>
                    </li>
                    <li>
                      <label for="myradio1" appCheckLane [parent]="lanepick" lane="Support"  [FormControl]="form.get('lane')"><img  src="../../../assets/image/lane/Support_icon.png" alt=""></label>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="BigItem">
            <div class="Titre">Matchup</div>
            <div id="matchup">
              <div>
                <a (click)="openModal('custom-modal-1', '0')">
                  <img id="chooseChamp" [src]="[TabChamp.champUrl +TabChamp.champ + 'Square.png']" alt="" >
              </a>
              <input 
              type="hidden" 
              name="champ_name"
              formControlName="champ_name" 
              [value]=[TabChamp.champ]>
              </div>
              <div>Vs</div>
              <div>
                <a (click)="openModal('custom-modal-1' , '1')">
                  <img 
                  id="chooseChamp" [src]="[TabChamp.champUrl + TabChamp.champadv + 'Square.png']" alt="" >
              </a>
              <input 
              type="hidden" 
              name="champ_adv"
              formControlName="champ_adv"
              [value]=[TabChamp.champadv]>
              </div>
            </div>
        </div>
        <div class="BigItem">
            <div class="Titre">Résultat</div>
            <div id="ResultDiv">
              <div class="custom-control custom-radio custom-control-inline">
                <input 
                type="radio" 
                id="victoryRadioInline" 
                name="victory"
                value="1"
                formControlName="victory"
                class="custom-control-input">
                <label id="win" class="custom-control-label" for="victoryRadioInline">Victoire</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input 
                type="radio" 
                id="defeatRadioInline" 
                name="victory"
                value="0"
                formControlName="victory"  
                class="custom-control-input">
                <label id="lose" class="custom-control-label" for="defeatRadioInline">Défaite</label>
              </div>
            </div>
        </div>
        <div class="BigItem">
            <div class="Titre">Chose à améliorer</div>
            <div id="generaltips">
              <div *ngFor="let tip of generalTips" class="form-check form-check-inline">
                <input
                class="tipCheckbox" 
                class="form-check-input"
                type="checkbox" 
                id="inlineCheckbox1" 
                [value]="tip.name"
                (change)="updateTipCheckbox(tip)"
                name="tipGeneral">
                <label class="form-check-label" for="inlineCheckbox1">{{tip.name}}</label>
              </div>
            </div>
            <div id="usertips">
              <div  *ngFor="let tip of userTips" class="form-check form-check-inline">
                <input
                class="tipCheckbox"
                class="form-check-input" 
                type="checkbox" 
                id="inlineCheckbox1" 
                [value]="tip.name"
                (change)="updateTipCheckbox(tip)"
                name="tipUser">
                <label class="form-check-label" for="inlineCheckbox1">{{tip.name}}</label>
              </div>
            </div>
            <div>
              <div class="form-check form-check-inline">
                <input 
                class="form-check-input" 
                type="checkbox" 
                id="inlineCheckbox1" 
                value="option1">
                <label class="form-check-label" for="inlineCheckbox1">tips matchup</label>
              </div>
            </div>
            
        </div>
        <div id="submitDiv">
          <button  type="submit">Valider</button>
        </div>
        {{form.value |json}}
    </form>
    <jw-modal id="custom-modal-1">
      <h1>Choisis ton adversaire</h1>
      <div class="rowx scrollable">
          <div *ngFor="let champion of champions| async ;">
              <div>
                  <a (click)="changePic(champion.name, 'custom-modal-1')">
                      <img src="../../../assets/image/champion/{{champion.name}}Square.png" alt="">
                  </a>
              </div>
          </div>
      </div>
      <button (click)="closeModal('custom-modal-1');">Close</button>
  </jw-modal>
</div>