.conteneur
{
    background-color: gray;
    padding: 50px;
}
.BigItem
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.Titre
{
  text-align: center;
  width: 200px;
  border : 1px solid black ;
  background-color: gray;
  color: white;
  margin: auto;
  margin-bottom: 10px;
}
form
{
  background-color: white;
  border: rgb(70, 68, 68) 2px solid;
  padding: 50px;
}
#submitDiv
{
 text-align: center;
}
#LanePick
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* Lanpick radio */
#LanePick ul {
    list-style-type: none;
  }
  
  #LanePick li {
    display: inline-block;
  }
  
  input[type="radio"][id^="myradio"] {
    display: none;
  }
  
  #LanePick label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  #LanePick label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  #LanePick label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  #LanePick label.checked {
    border-color: #ddd;
  }
  
  #LanePick label.checked::before {
    content: "✓";
    background-color: green;
    transform: scale(1);
  }
  
  #lanePick .checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }
  /* Result radio */

  #ResultDiv
  {
    text-align: center;
    margin-top: 20px;
  }
  #ResultDiv label
  {
    width: 100px;
    font-size: large;
    text-transform: uppercase;
    border: 1px rgb(48, 46, 46) solid;
    font-weight: bold;
  }
#win
{
  background-color: green;
}
#lose
{
  background-color: red;
}
#matchup
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
a img
{
  max-height: 120px;
}
.rowx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #212121;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-evenly;
  
}
#custom-modal-1
{
  width: 1000px;
}
#generaltips
{
  background-color: rgb(23, 110, 77);
  padding: 10px;
}
#usertips
{
  background-color: lightblue;
  margin-top: 20px;
  padding: 10px;
}
.tipCheckbox label
{
  background-color: white;
}