@import "~bootstrap/dist/css/bootstrap.css";
body
{
    background-image: url("../app/public/image/lol walapper.jpg"); 
    height: 1600px;
    margin: 0px;
    padding: 0px;
    background-repeat: repeat;
}

nav , footer
{
    background-color: #40c4ff;
    
    
}
a
{
   text-decoration: none;
   color: rgb(57, 61, 61);
}
a:hover
{
    color: #28a745;
}