<div class="BgWhite">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister();">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPseudo4">Pseudo</label>
            <input type="text" 
            class="form-control"
            name="pseudo"
            formControlName="pseudo"
            required 
            id="inputPseudo4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email"
            class="form-control"
            name="email"
            formControlName="email"
            required
            id="inputEmail4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputpassword">password</label>
          <input type="password" 
          class="form-control"
          name="password"
          formControlName="password"
          required 
          id="inputpassword" >
        </div>
        <div class="form-group">
          <label for="password2">Confirm password</label>
          <input type="password" 
          class="form-control"
          name="password2"
          formControlName="verifPassword"
          required 
          id="password2">
          <div *ngIf="registerForm.errors && !registerForm.errors.samePwd">Password non identique</div>
        </div>
        <div class="form-row"> 
                     <div class="colmd-2">&nbsp;</div>
                    <div class="col-md-6">
                        <label class="custom-file-label" for="customFile">Profile Pic</label>
                        <input type="file" 
                        class="custom-file-input form-control"
                        name="avatar"
                        formControlName="avatar"
                        required
                        id="customFile" 
                        onchange="upload_img(this, 'avatar_id')">
                    </div> 
                    <div class="col-md-4"  >
                    <img id="avatar_id" src="/assets/image/avatar.png"  class="img-thumbnail mx-auto d-block mini" alt="your image" />
                   
                    </div>
        </div>        
        <div class="form-row">&nbsp;</div>
        <div class="form-row">
            <div class="colmd-2">&nbsp;</div>
            <div class="col-md-6">
                <label for="inputState">Rank</label>
                <select id="inputState"
                class="form-control"
                name="rank"
                formControlName="rank"
                required
                onchange="upload_img(this.value, 'rank_id')">

                <option selected>Choose...</option>
                <option>Fer</option>
                <option>Bronze</option>
                <option>Argent</option>
                <option>Or</option>
                <option>Platine</option>
                <option>Diamant</option>
                </select> 
            </div> 
            <div class="col-md-4" >
                <img id="rank_id" src="/assets/image/rank/Iron.png"  class="mx-auto d-block mini"   alt="your image" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>
