form
{
    background-color: #2D302F;
    padding : 10px 10px 10px 10px;
    color: white;
}
.BgWhite
{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
   /* height: 980px;*/
}
#customFile
{
    margin : 10px;
}

.mini
{
    height: 200px;
}