@import "~bootstrap/dist/css/bootstrap.css";
.conteneur
{
    display: flex;
    flex-direction: column;
    background-color:rgb(46, 45, 45);
    padding-top: 50px;
}
.BigItem
{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
/* TopDiv */

#TopDiv
 {
    background-color:rgb(23, 110, 77);
    border: 5px solid rgb(46, 45, 45);
 }
 #AvatarPic img
 {
     max-height: 200px;
 }
 #RankPic img
  {
      max-height: 160px;
  }
  #ImgRank
  {
      background-color:rgb(46, 45, 45);
  }
  #PseudoDiv
   {
       margin-top: 16px;
       background-color: rgb(46, 45, 45);
       color: white;
       text-align: center;
       font-weight: bold;
   }
  #ButtonDiv
  {
      display: flex;
      flex-direction: row;
      width: 650px;
  }
  #ButtonDiv div
  {
      margin-left: auto;
  }
  #ButtonDiv div button
{
    background-color: rgb(46, 45, 45);
}
#ButtonDiv div button a
{
    color: white;
    text-decoration: none;
}
#ButtonDiv div button a:hover
{
    color: rgb(194, 189, 189);
}
/* MidDiv */

#MidDiv
{
    display: flex;
    flex-direction: column;
    background-color: #40c4ff;
}
#MidDiv img
{
    max-height: 120px;
}
#MatchupDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: white;
    align-items: center;
    max-height: 100px;
}
#MatchupDiv img
{
    border-radius: 50%;
    max-height: 60px;
}
#TipsDiv
{
    max-height: 100px;
    background-color: lightgreen;
    border: 1px solid black;
}
#TipsDiv h3
{
    text-align: center;
}
#TipsDiv li
{
    display: inline;
    margin: 5px;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
}
#custom-modal-1
{
    width: 1000px;
}
#custom-modal-1 h1
{
    height:50px;
    text-align: center;
}
.rowx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    
}
.victory
{
    background-color: green;
    color: white;
    border : 1px solid black ;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    padding: 4px;
}
.defeat
{
    background-color: red;
    color: white;
    font-weight: bold;
    border : 1px solid black ;
    text-shadow: 1px 1px 1px black;
    padding: 4px;
}
/* BotDiv */
#BotDiv
{
    background-color:rgb(46, 45, 45);
    justify-content: space-evenly;
}
#BotDiv .MiniItem
{
    margin: 10px
}
.WinrateDiv
{
    background-color: white;
    text-align: center;
}