<div class="conteneur">
    <div class="BigItem" id="TopDiv">
        <div class="Item" id="AvatarPic">
            <img src="../../../assets/image/No_Picture.jpg" alt="">
        </div>
        <div class="Item" id="RankPic">
            <div id="ImgRank">
                <img [src]="'../../../assets/image/rank/'+ user?.rank + '.png'">
            </div>
            <div id="PseudoDiv">{{user?.pseudo}}</div>
        </div>
        <div class="Item" id="ButtonDiv">
            <div>
                <button><a href="http://localhost:4200/user/{{user?.pseudo}}/allmatchup">All Matchup</a></button>
            </div>
            <div>
                <button><a href="http://localhost:4200/user/{{user?.pseudo}}/profileform">New Matchup</a></button>
            </div>
        </div>
    </div>
    <div class="BigItem" id="MidDiv">
        <div class="Item">
            <a (click)="openModal('custom-modal-1')">
                <img [src]="[currentChamp]" alt="">
            </a>
        </div>
        <div *ngFor="let matchup of matchup "class="Item" id="MatchupDiv" >
            <div class="MiniItem">
                <!-- <img src="../../../assets/image/champion/{{matchup?.champ_name}}Square.png" alt=""> -->
                <img [src]="'../../../assets/image/champion/' + matchup?.champ_name + 'Square.png'">
            </div>
            <div class="MiniItem">vs</div>
            <div class="MiniItem">
                <img [src]="'../../../assets/image/champion/' + matchup?.champ_adv + 'Square.png'">
            </div>
            <div [ngClass]="{'victory': matchup.victory, 'defeat': !matchup.victory}" class="MiniItem">{{matchup?.victory ? "Victoire" : "Défaite"}}</div>
            <div class="MiniItem" id="TipsDiv">
                <h3>tips</h3>
                <ul>
                    <li *ngFor="let tip of matchup.tips">{{tip.name}}</li>
                </ul>
                </div>
        </div>
    </div>
    <div class="BigItem" id="BotDiv">
        <div class="Item">
            <div class="MiniItem">
                <img src="../../../assets/image/lane/Top_icon.png" alt="">
            </div>
            <div class="MiniItem WinrateDiv">winrate {{laneAvg | lane:'Top'}} %</div>
        </div>
        <div class="Item">
            <div class="MiniItem">
                <img src="../../../assets/image/lane/Middle_icon.png" alt="">
            </div>
            <div class="MiniItem WinrateDiv">winrate {{laneAvg |lane: 'Mid'}} %</div>
        </div>
        <div class="Item">
            <div class="MiniItem">
                <img src="../../../assets/image/lane/Jungle_icon.png" alt="">
            </div>
            <div class="MiniItem WinrateDiv">winrate {{laneAvg |lane: 'Jungle'}} %</div>
        </div>
        <div class="Item">
            <div class="MiniItem">
                <img src="../../../assets/image/lane/Bottom_icon.png" alt="">
            </div>
            <div class="MiniItem WinrateDiv">winrate {{laneAvg |lane: 'Adc'}} %</div>
        </div>
        <div class="Item">
            <div class="MiniItem">
                <img src="../../../assets/image/lane/Support_icon.png" alt="">
            </div>
            <div class="MiniItem WinrateDiv">winrate {{laneAvg |lane: 'Support'}} %</div>
        </div>
    </div>
</div>
<jw-modal id="custom-modal-1">
    <h1>Choisis ton adversaire</h1>
    <div class="rowx scrollable">
        <div *ngFor="let champion of champions | async" >
            <div>
                <a (click)="changePic(champion.image, 'custom-modal-1')">
                    <img src="../../../assets/image/champion/{{champion.image}}" alt="">
                </a>
            </div>
        </div>
    </div>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>