@import "~bootstrap/dist/css/bootstrap.css";
.conteneur
{
    display: flex;
    flex-direction: column;
    background-color:rgb(46, 45, 45);
    padding-top: 50px;
}
.bigItem
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.topPart
{
    background-color: darkgray;
    padding-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.topPart img
{
    border-radius: 50%;
}
.botPart
{
    padding-top: 50px;
    background-color: white;
    margin: 50px;
}
.Bitem
{
    display: flex;
    flex-direction: row;
    background-color: rgb(46, 45, 45);
    margin : 20px;
    
}
.Bitem img
{
    max-height: 50px;
}
.tipsDiv
{
    background-color: rgb(23, 110, 77);
    border: 1px black solid;
    
}
.tipsDiv h1
{
    padding: 10px;
}
.tipsDiv ul li
{
    font-weight: bold;
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;
}
.counterDiv
{
    background-color: brown;
    border: 1px black solid;
}
.countergroup
 {
     padding: 20px;
 }
.item
{
    text-align: center;
}
.stats
{
    margin-top: 20px;
    width: 240px;
}
.vsPic
{
    max-height: 100px;
}
#chooseChamp
{
    max-height: 120px;
}
.rowx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    
}
#custom-modal-1
{
    width: 1000px;
}
#custom-modal-1 h1
{
    height:50px;
    text-align: center;
}