<div class="conteneur">
    <div class="bigItem topPart">
        <div class="item">
            <img [src]="'../../../assets/image/champion/'+ name+ 'Square.png'" alt="">
        </div>
        <div class="item">
            <img class="vsPic" src="../../../assets/image/Vs-png.png" alt="">
        </div>
        <div class="item">
            <a (click)="openModal('custom-modal-1')">
                <img id="chooseChamp" [src]="[currentChamp]" alt="" >
            </a>
        </div>
    </div>
    <div class="bigItem botPart">
        <div class="item tipsDiv">
            <h1>Tips Champion</h1>
            <ul>
                <li *ngFor="let tip of model?.tips">
                    <div>{{tip.name}}</div>
                </li>
            </ul>
        </div>
        <div class="item counterDiv" >
            <h1>Contres</h1>
            <div *ngFor="let counter of counter" class="Bitem">
                <div class="countergroup"><img [src]="'../../../assets/image/champion/'+ counter.champ_name + 'Square.png'" alt=""></div>
                <div class="stats countergroup">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style]="'width: '+ counter.pourcentage + '%;'">
                        taux de victoire : {{counter.pourcentage | number}}%
                        </div>
                        </div>
                </div>
                <div class="countergroup"><img [src]="'../../../assets/image/champion/'+ name + 'Square.png'" alt=""></div>
            </div>
        </div>
    </div>
        <jw-modal id="custom-modal-1">
            <h1>Choisis ton adversaire</h1>
            <div class="rowx scrollable">
                <div *ngFor="let champion of champions | async">
                    <div>
                        <a (click)="changePic(champion.image, 'custom-modal-1')">
                            <img src="../../../assets/image/champion/{{champion.image}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </jw-modal>
</div>
 
