<!-- Default form login -->
<form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="login();">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input 
    type="email" 
    id="defaultLoginFormEmail" 
    class="form-control mb-4" 
    placeholder="E-mail"
    formControlName="email"
    name="email">
  
    <!-- Password -->
    <input 
    type="password" 
    id="defaultLoginFormPassword" 
    class="form-control mb-4" 
    placeholder="Password"
    formControlName="password"
    name="password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="http://localhost:4200/register">Register</a>
    </p>
  
  </form>
  <!-- Default form login -->
