.pd20
{
    padding: 20px;
    background-color: white;
}
.cardStyle
{
    background-color: #607d8b;
}
* {
    padding :0;
    margin : 0;
}

.rowx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    
}

.cardx {
    /*border :1px solid red;*/
    width: 180px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding:15px;
    height: auto;
    flex-shrink: 0;
    flex-flow: 0;
    border-color: 2px solid white;
}

.cardx div {
    flex-basis: 50%;
    box-sizing: border-box;			
}

/* .cardx div:first-child {
    border: 1px solid green;
} */
.cardx div:last-child {
    /*border: 1px solid blue;*/
    background-color: #607d8b;
    border-radius: 0px 5px 5px 0px;
}



.cardx div img{
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    height: 100%;
}

.cardx div p {
    height: 50%;
    /*line-height: 40px;*/
    padding-left: 5px;
}
.cardx a 
{
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-weight: bold;
}
.cardx a:hover
{
    color: black;
}
.bg-white
{
    background-color: white;
    padding: 20px;
}
.scrollable {
  height: 700px;
  overflow-y: scroll;
}