<div class="bg-white">
    <div class="rowx scrollable">
        <div *ngFor="let champion of championList | async" class="cardx">
            <div>
                <a href="http://localhost:4200/{{champion.name}}">
                    <img src="../../../assets/image/champion/{{champion.image}}" alt="">
                </a>
            </div>
            <div>
                <p>{{champion.champ_name}}</p>
                <p><a href="http://localhost:4200/{{champion.name}}">Détails</a></p>
            </div>
        </div>
    </div>
    
</div>